extends base.pug
block title 
    title Inicio
block container
    .row.offset-2.mt-5
        h3 Menú Principal
    .row.offset-2.mt-5
        .col-5.mt-5
            img.mb-4.offset-2(src='img/register.png' alt='' width='64' height='64')
            a.w-100.btn.btn-lg.btn-primary(href="") Regristros 
        .col-5.mt-5
            img.mb-4.offset-1(src='img/new-green.png' alt='' width='64' height='64')
            a.w-100.btn.btn-lg.btn-success(href="/new") Nuevo

        