extends base.pug
block title 
    title Inicio
block container
    .offset-3.row.mt-5
        h3 Nuevo Municipio
    .offset-3.row.mt-5(style={width:'550px'})
        .table-responsive
            table.table.table-dark.table-striped
                thead 
                    th codigo
                    th Nombre Municipio
                    th Editar / Eliminar 
                tbody.tbody-info
                    if (datos)
                        each item in datos
                            tr 
                                td #{item.municipioId}
                                td #{item.nombreMunicipio}
                                td 
                                    a.btn.btn-lg.btn-success.ml-2(href='/new') Editar
                                    a.btn.btn-lg.btn-danger.ml-2(href=`/deleteMunicipio/` + item.municipioId) Eliminar
    
    .row.offset-3.mt-5(style={width:'550px'})
        form.form-(action="/newMunicipio", method="post")
            label(for="floatingInput") Nombre Municipio
            input#floatingInput.form-control(type='text' placeholder='' name="nommunicipio")

            button.w-100.btn.btn-lg.btn-primary.mt-2(type='submit') Guardar
            a.w-100.btn.btn-lg.btn-danger.mt-1(href='/new') Back
    
block script
    script(src="js/newMunicipio.js")