extends base.pug
block title 
    title Inicio
block container
    .container.offset-3.row.mt-5
        h3 Nuevo Municipio
    .container.row.offset-3.mt-5(style={width:'500px'})
        form.form-(action="/newMunicipio", method="post")
            label(for="floatingInput") Nombre Municipio
            input#floatingInput.form-control(type='text' placeholder='' name="nommunicipio")

            button.w-100.btn.btn-lg.btn-primary.mt-2(type='submit') Guardar
            a.w-100.btn.btn-lg.btn-danger.mt-1(href='/new') Back
